body,
html {
  background-color: #d9d9d9;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: 'Smooch Sans', sans-serif;
  position: relative;
}

.hidden {
  display: none;
}

.header {
  height: 30%;
  width: 80%;
  margin: 0 auto;
}

.login-page {
  text-align: center;
}
.new-trip-form {
  width: 60%;
  margin: 0 auto;
}

.right-container {
  width: 100%;
}
.trips-area {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 10px;
  padding: 0;
}

li,
.card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: solid 2px black;
  border-radius: 5px;
  width: 200px;
  margin: 5px;
  padding: 5px;
}

.card .text > * + * {
  margin-top: 0.75rem;
}

.card .text :last-child {
  margin-top: auto;
}

.card .text :nth-last-child(2) {
  margin-bottom: 0.75rem;
}

.card .text {
  max-width: 60ch;
}

.card + .card {
  margin-top: 1.5rem;
}

@supports (display: grid) {
  .cards > ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-gap: 1.5rem;
  }

  .card + .card {
    margin-top: 0;
  }
}

.card .img {
  height: 5rem;
}

.card .img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
